<div class="space-y-[14px]">
  <div class="space-y-[6px]">
    <label [class]="classes.formLabel" htmlFor="name"> Full name </label>
    <input [class]="classes.input" id="name" type="text" />
  </div>
  <div class="space-y-[6px]">
    <label [class]="classes.formLabel" htmlFor="phone-number">
      Phone number
    </label>
    <input [class]="classes.input" id="phone-number" type="text" />
  </div>
  <div class="space-y-[6px]">
    <label [class]="classes.formLabel" htmlFor="location"> Address </label>
    <textarea [class]="classes.input" id="location"></textarea>
  </div>
</div>
