<div class="md:flex flex-wrap md:mx-[-12px]">
  <div class="md:w-7/12 md:px-[12px]">
    <!-- {loading && <Skeleton class="w-full pt-[50%] rounded-[16px]" />}
      {!loading && (
         <div class="relative sm:sticky top-[10px]">
            <ImageSlider
               class="pt-[60%] md:pt-[50%]"
               data={currentSliderImages}
            />
         </div>
      )} -->
  </div>

  <div class="mt-[40px] md:mt-0 md:w-5/12 md:px-[12px]">
    <app-product-info />

    <div class="mt-7">
      <app-policy />
    </div>
  </div>
</div>
