<div class="md:flex flex-wrap md:mx-[-12px]">
   <div class="md:w-7/12 md:px-[12px]">
      @if (productDetail.status.getValue() === 'loading') {
         <app-skeleton myClass="w-full pt-[50%] rounded-xl" />
      } @else {
         <div class="sm:sticky top-8">
            <app-slider className="pt-[60%] md:pt-[50%]" [sliderImages]="sliderImages" />
         </div>
      }
   </div>

   <div class="mt-[40px] md:mt-0 md:w-5/12 md:px-[12px]">
      <app-product-info
         (changeColor)="sliderImages = $event.product_slider.slider.slider_images" />

      <div class="mt-7">
         <app-policy />
      </div>
   </div>
</div>
