<div [class]="classes.wrapper">
  <div [class]="classes.container">
    <form [class]="classes.form" [class.disabled]="isFetching">
      <div [class]="classes.left">
        <h1 [class]="classes.logo">
          Angular <span class="text-[#cd1818]">Mobile</span>
        </h1>
        <h1 class="text-[26px] text-[#1f1f1f] mt-[10px]">Sign up</h1>

        @if (errorMessage) {
        <p [class]="classes.errorMessage">
          {{ errorMessage }}
        </p>
        }
      </div>
      <div [class]="classes.right">
        <div [class]="classes.inputGroup">
          <label [class]="classes.label + ' pt-[8px]'" htmlFor="username"
            >Username</label
          >
          <input
            [(ngModel)]="username"
            [class]="classes.input"
            id="username"
            name="username"
            type="text"
          />
        </div>
        <div [class]="classes.inputGroup">
          <label [class]="classes.label" htmlFor="password">Password</label>
          <input
            [(ngModel)]="password"
            [class]="classes.input"
            type="text"
            id="password"
            name="password"
            autoComplete="off"
            required
          />
        </div>

        <div [class]="classes.inputGroup">
          <label [class]="classes.label" htmlFor="password"
            >Confirm password</label
          >
          <input
            [(ngModel)]="confirmPassword"
            [class]="classes.input"
            type="text"
            name="confirmPassword"
            id="password"
            autoComplete="off"
            required
          />
        </div>

        <div class="md:text-right">
          <app-button
            [props]="{
              class: 'leading-[26px] w-full md:w-auto mt-[20px]',
              disabled: !ableToSubmit || isFetching
            }"
            (myClick)="handleRegister()"
            type="submit"
          >
            Sign up
          </app-button>
          <p class="mt-[20px]">
            Already have an account ?,
            <a
              class="text-[#cd1818] hover:underline ml-[4px]"
              [routerLink]="'/login'"
            >
              Sign in</a
            >
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
